*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: gray;
}
nav{
    background-color: #594848;
    width: 100%;
    overflow:auto;
}
ul{
    margin: 0;
    padding:0;
    list-style:none;
}
li{
    float: left;
}
nav a{
    width: 120px;
    display:block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 1s;
}
nav a:hover{
    background: skyblue;
    color: black;
}
.column{
    float: left;
    width: 10%;
    padding: 20px;
}
.row::after{
    content: "";
    display:flex;
    clear: both;
}
.right{
    float: right;
    width: 100px;
}
.text{
    text-align: right;
    text-size-adjust: 100px;
}
.container{
    max-width: 1200px;
    margin: auto;
    background:#f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}
.gallery img{
    width: 100%;
    height: auto;
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color: #594848;
    color: white;
    font-family: Arial;
    letter-spacing: ipx;
}
.column:hover{
      transform: translate(-10px);   
}